.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .projects-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
}