.hero {
  background-image: url('https://images3.alphacoders.com/132/1320717.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-content {
    max-width: 800px;
    min-width: 360px;
    padding: 30px 60px;
    border-radius: 16px;
  }
  .ant-btn {
    margin-top: 10px;
  }
}
