.map-container {
  padding: 20px;
  text-align: center;
}

.map {
  height: 60vh;
  margin: 20px 0;
}

.flag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 8px;
}
