header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
}

.mobile-header {
  display: flex;
  align-items: center;
}

.custom-button {
  border: none;
}

.switch {
  margin: 0 4px;
}