.footer {
  background-color: #000;
  padding: 20px;
  text-align: center;

  .contact-info {
    margin-bottom: 10px;

    span {
      display: block;
      font-size: 14px;
      margin-bottom: 8px;

      a {
        text-decoration: underline;

      }

      .anticon {
        font-size: 26px;
        margin-right: 8px;
      }
    }
  }

  .anticon {
    font-size: 28px;
    margin: 0 10px;
    transition: color 0.3s;
  }

  .copyright {
    padding: 24px 0;
  }
}
